body{
    background-color: skyblue;
}
.box {
    width: 50vw;
    height: 30vh;
    margin: 250px auto;
    padding: 10px;
    border: 2px solid black;
}

.block {
    display: block;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}